.wrapper {
    background-color: #1d2025;
    min-height: 50px;
    min-width: 500px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}

.left {
    font-size: 20pt;
    font-weight: bold;
    flex: 1;          /* shorthand for: flex-grow: 1, flex-shrink: 1, flex-basis: 0 */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right {
    font-size: 20pt;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.center {
    font-size: 25pt;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}